<h3> Postagens da categoria: {{categoria.nome}} </h3>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">

    <h3> {{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="postagem/{{slug}}"> <button class="btn btn-success"> Leia mais</button> </a>
    <hr>
    <small>Data de publicação: {{data}}</small>

  </div>
</div>

{{else}}
<h5> Nenhuma postagem para exibir!</h5>
{{/each}}